{
  "parser": "babel-eslint", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2018, // specify the version of ECMAScript syntax you want to use: 2015 => (ES6)
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true, // enable JSX
      "impliedStrict": true // enable global strict mode
    }
  },
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react", "react-hooks"],
  "env": {
    "node": true,
    "browser": true // enable all browser global variables
  },
  "rules": {
    "strict": "error",
    "no-sequences": "error",
    "no-mixed-operators": "error",
    "react/react-in-jsx-scope": "error",
    "no-useless-escape": "error",
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "react/prop-types": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {}
}
